<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dota Rank Perfomance</title>
</head>
<body>
  <p>This is an app to see how well you do against each rank in DotA 2</p>
  <form action="/refreshGames" name="refreshGamesForm" id="refresh-games-form">
      <input type="text" name="playerId"/>
      <button>Get games</button>
  </form>
  <p id="refresh-response" style="display:none"></p>
  <button onclick="getPlayers()">Get players</button>

  <script src="./static/main.js"></script>
</body>
</html>